<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script>
      var showMore = function ()  {
        document.getElementById('more').style.display = 'block';
        document.getElementById('showmore').style.display = 'none';
        document.body.scrollTop = document.body.scrollHeight;
      };
      var setCookie = function (c_name,value,exdays)
      {
        var exdate=new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
        document.cookie=c_name + "=" + c_value;
      }
      var setSort = function (val) {
        val = "" + val;
        setCookie("sort", val, 365);
        document.location = document.location;
      }
    </script>
    <style>
      #showmore  {
        text-decoration: none;
        color: black;
      }
      tr a {
        text-decoration: none;
      }
      tr:hover a {
        text-decoration: underline;
      }
      tr:hover {
        color: grey;
      }
    </style>
  </head>
  <body>
    <h1><%= title %> - <%= path %></h1>
    <hr/>
    <table style="font-family: monospace;">
      <tr>
        <td colspan="2"><a href="..">../</a></td>
        <td id="sort">
          <% if (sort == "true") { %>
            <a href="javascript:setSort(false);">unsort</a>
          <% } else { %>
            <a href="javascript:setSort(true);">sort</a>
          <% } %>
        </td>
      </tr>
      <% for (id in files)  {%>
        <% var file = files[id] %>
        <% if (!file) continue %>
        <tr style="height: 5px; padding: 0; margin: 0;">
          <td>
            <a href="<%= (file.type === 'dir' ? '' : '/www') %><%= file.path %><%= (file.dir ? '/' : '')%>">
              <img src="<%= file.icon %>"/>
            </a>
          </td>
          <td style="min-width: 250px; height: inherit; padding: inherit; margin: 0;">
            <% if (file.type === 'part') { %>
              <del>
            <% } %>
            <a href="<%= (file.type === 'dir' ? '' : '/www') %><%= file.path %><%= (file.dir ? '/' : '')%>">
              <%= file.name %><%= (file.dir ? '/' : '')%>
            </a>
            <% if (file.type === 'part') { %>
              </del>
            <% } %>
          </td>
          <td>
            <%= file.time %>
          </td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td>
            <% if (file.dir)  { %>
              -
            <% } else  { %>
              <%= file.size %>
            <% } %>
          </td>
        </tr>
      <% } %>
    </table>
    <hr/>
    <a href="javascript:showMore()" id="showmore">+</a><br>
    <div id="more" style="display: none">
      <form method="POST" action="/mkdir">
        <p>
        <input type="hidden" name="path" value="<%= fullPath%>"/>
        <input type="text" placeholder="dir name" name="name"/><input type="submit" name="submit" value="submit"/>
        </p>
      </form>
      <% if (path !== "/")  { %>
        <form method="POST" action="/newtorrent" enctype="multipart/form-data">
          <h3>Upload a torrent</h3>
          <p>
            <input type="hidden" name="path" value="<%= fullPath %>"/>
            <label for="torrent">Torrent file : </label><input type="file" name="torrent" id="torrent"/><br/>
            You can get torrents from <a href="http://www.t411.me/">www.t411.me</a>
            <br/><br/>
            <input type="submit" name="submit" value="send"/>
          </p>
        </form>
      <% } %>
    </div>
    <br/>
  </body>
</html>
